@page "/"

<PageTitle>Home</PageTitle>

<MyCounter @rendermode="InteractiveWebAssembly"/>

<div class="p-4 border border-2 border-gray-200 rounded-xl h-1/2">
  <ListedBook @rendermode="InteractiveWebAssembly" />
</div>

@code {
    

}