@page "/"

<PageTitle>Home</PageTitle>

<MyCounter @rendermode="InteractiveWebAssembly"/>

<div class="border-2 h-10/12 rounded-xl border-gray-200 p-4">
  <ListedBook @rendermode="InteractiveWebAssembly" />
</div>

@code {
    

}