<div class="flex flex-row gap-2 text-gray-50">
  <div>
    <img src="https://picsum.photos/150" alt="Book Cover" />
  </div>
  <div>
    <h2 class="text-lg font-bold">Book Title</h2>
    <p class="text-sm">Author:</p>
    <p class="text-sm">ISBN :</p>
    <p class="text-sm">Published Date :</p>
  </div>
</div>

@code {

}
